# Lib
/lib/

# Ignores
.gitignore
.prettierignore

# TypeScript
tsconfig.json

# Dependency directories
node_modules

# TypeScript cache
dist/tsconfig.tsbuildinfo

# Yarn
.yarn
yarn.lock
.yarnrc.yml

# Generate docs
docs

# Jetbrains
.idea

# Husky
.husky
