# Source code
/lib/

# Ignores
.gitignore
.prettierignore

# Configs
tsconfig.json
tsconfig.test.json
.eslintrc.json
ava.config.js

# Dependency directories
/node_modules/

# Generate output
dist/tsconfig.tsbuildinfo
/docs/
/test/

# Yarn
/.yarn/
yarn.lock
.yarnrc.yml

# Jetbrains
/.idea/

# Husky
/.husky/

# Commits
.commitlintrc.json
.versionrc.json

# GitHub
/.github/
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
.gitattributes
